
# ignore the settings folder and files for VSCode and PSS
*.psproj
*TempPoint*

bin/
obj/

# Ignore staging info from Visual Studio
library/FactorioProfiles/.vs/*
library/FactorioProfiles/FactorioProfiles/bin/*
library/FactorioProfiles/FactorioProfiles/obj/*

# ignore PowerShell Studio MetaData
FactorioProfiles/FactorioProfiles.psproj
FactorioProfiles/FactorioProfiles.psproj.bak
FactorioProfiles/FactorioProfiles.psprojs
FactorioProfiles/FactorioProfiles.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*